<Config>
	<Redis>
		<Addr>127.0.0.1</Addr>
		<Port>6378</Port>
		<PoolSize>500</PoolSize>
	</Redis>
	<TickTime>3</TickTime>
	<LoopTime>
	  <Mail>3</Mail>
	  <Sms>1</Sms>
	  <Crawlkangle>300</Crawlkangle>
	</LoopTime>
	<Smtp>
	 <Host>email-smtp.us-east-1.amazonaws.com:465</Host>
	 <Username>AKIAIJ4B2O7MNE65PB7A</Username>
         <Password>Aq3kJ/P8spVl+Zls2MoHnAT1uADhoIlmMBcoQNrUIVEa</Password>
	 <From>测试人员</From>
	</Smtp>
	<Beanstalk>
	  <Server>192.168.3.104:11300</Server>
	  <MailQueue>mailsend</MailQueue>
	  <MobileQueue>smssend</MobileQueue>
	</Beanstalk>
	<Url>
	  <SmsApi>http://admin.esoftsms.com/sdk/Send.aspx?CorpID=BJZX01677&amp;Pwd=123456&amp;Mobile=%s&amp;Content=%s&amp;Cell=&amp;SendTime=</SmsApi>
	  <MailApi>https://sendcloud.sohu.com/webapi/mail.send.xml?api_user=postmaster@yundun.sendcloud.org&amp;api_key=XaEjlKQe&amp;from=no-reply@yundun.cn&amp;fromname=云盾</MailApi>
	</Url>
</Config>
